body {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4, #ffecd9, #d1f1e9, #a7e9af);
    background-size: 800% 800%;
    animation: gradientAnimation 20s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }